@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --main-color: #0073FF;
    --main-bg-color:#FFFFFF;
  }

  body{
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Bentham', serif;
}


/* styling nav for homepage */
header{
    position: relative;
    background-color: var(--main-color);
    height: 25%;
    width: 100%;
    border: 1px solid transparent;
}
.home-pg-nav{
    height: 10vh;
    border: 1px solid transparent;
    background-color: var(--main-bg-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.logo:has(div){
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--main-color);
}

img{
    max-width:100%;
    height: 100%;
}

ul{
    border: 1px solid transparent;
    display: flex;
}

ul li{
    padding: 10px;
    list-style: none;
}

.menubar{
    display:none;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

.fun-learning{
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    padding: 20px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.fun-learning-first-child{
    width: calc(100%-35%);
    border: 1px solid transparent;
    height: 100%;
    padding-top: 25px;
}

.fun-learning-first-child>h1{
    width: 100%;
    color: var(--main-bg-color);
    font-size: 3rem;
    border: 1px solid transparent;
    margin-bottom: 25px;
}

.fun-learning-first-child>p{
    width: 70%;
    font-size: 1.5rem;
    color: var(--main-bg-color);
    margin-bottom: 25px;
    font-weight: 100;
    opacity: 1;
}

.button-box{
    width: 25%;
    border: 1px solid transparent;
}

.get-start-btn{
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

.fun-learning-img{
    padding: 20px;
    border: 1px solid transparent;
    width: 35%;
    height: 100%;
}

.fun-learning-img-box{
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}

.sub-header{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #808080;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 2px #808080;
    background-color: var(--main-bg-color);
    width: 50%;
    height: 25%;
    z-index:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header>h3{
    margin-bottom: 2rem;
    font-weight: 100;
}

.star-list {
    width:100%;
    display: flex;
    justify-content: space-around;
    list-style: none; /* Remove default bullet points */
    padding-left: 10px; /* Add some left padding for spacing */
    /* Add custom star bullet */
    counter-reset: star-counter;
  }

  .star-list li{
    font-weight: 900;
    font-size: 2rem;
  }
  
  .star-list li::before {
    content: '\2605'; /* Unicode character for a solid star */
    color: yellow; /* Color of the star */
    margin-right: 10px; /* Space between star and list item content */
    display: inline-block; /* Align stars in line with content */
    transform: translateY(-2px);  /* adjust vertical alignment */
  }

  /* styling what we do page */

  /* Keyframes for the slide-in animation */

  .what-we-do{
    padding: 50px;
    max-width: 100%;
    margin-top: 3rem;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
  }
  .what-we-do>h1{
    text-align: center;
    margin: 2rem 0 2rem;
  }

  .sec-div-container{
    border: 1px solid transparent;
    padding: 20px;
    max-width: 75%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .what-we-do-img-wrapper,.what-we-do-txt-wrapper{
    border: 1px solid transparent;
    width: 45%;
    padding: 10px;
  }
  .box{
    width: 100%;
  }

  .what-we-do-txt-wrapper>h2{
    font-size: 2rem;
    margin-bottom: 25px;
  }
  .what-we-do-txt-wrapper>p{
    color: #5B5B5B;
    font-size: 1em;
    margin-bottom:25px ;
  }

 .what-we-do-btn-wrapper{
    width: 50%;
    border: 1px solid transparent;
 }

 .what-we-do-btn{
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    color: var(--main-bg-color);
    background-color: var(--main-color);
 }

 /* why choose us styling */

.why-choose-us{
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    place-items: center;
    flex-direction:column;
}
.main-vector-container{
    border: 1px solid transparent;
    margin-top: 3rem;
    max-width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vector-box{
    border: 1px solid transparent;
    width: 200px;
    border-radius: 25px;
    background: #EBF4FF;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vector-box:hover{
    border: 3px solid var(--main-color);
}

.vector-box>h4{
    text-align: center;
    margin-top: 10px;
}

.vector-property{
    width: 25%;
    border: 1px solid transparent;
}
/* styling testimonia */
#testimonies>h1{
    text-align: center;
    margin: 2rem 0 2rem;
}

.card-container{
    border: 1px solid transparent;
    width: 100%;
    margin-top: 2rem;
    display: flex;
}

.card{
    position: relative;
    padding: 15px;
    margin: 10px;
    width: 25%;
    border: 1px solid transparent;
    opacity: 0.2;
    box-shadow: 0px 0px 10px 2px #5C5C5C;
    transition: opacity 0.3s;
}

.card:hover,
.card:active {
  opacity: 0.8; /* Reduced opacity when hovering or active */
}

.card-content::before{
    content: '\201C';
    font-size: 5rem;
    color:#5C5C5C;
}

.card-content{
    /* font-size: 1rem; */
    color:#5C5C5C;
}

.card-content::before,
.card-content {
  transition: opacity 0.3s; /* Apply transition to the opacity property */
}

.card:hover .card-content::before,
.card:active .card-content::before,
.card:hover .card-content,
.card:active .card-content {
  opacity: 1; /* Full opacity when hovering or active */
}

/* styling contact page */
#main-contact-pg-container{
    display: flex;
    flex-direction: column;
    place-items: center ;
}
#contact-pg{
    max-width: 80%;
    margin-top: 2rem;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    place-items: center;
}

#contact-pg>h1,#contact-pg>h3,#contact-pg>h6{
    margin: 1rem 0 1rem;
    text-align: center;
}

#contact-pg>h6{
    color: #5C5C5C;
}

.form-bg{
    width: 100%;
    padding: 15px;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.form-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label{
    margin: 10px;
    width: 50%;
}

.single-form {
    position: relative;
    width: 100%;
  }
  
  .single-form input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
  }

  textarea{
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
  }
  
  .placeholder-text {
    position: absolute;
    left: 10px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: white;
    font-size: 14px;
    color: #777;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .single-form input:focus ~ .placeholder-text,
  .single-form input:not(:placeholder-shown) ~ .placeholder-text {
    bottom: calc(100% + 5px);
    font-size: 12px;
    transform: translateY(0);
  }
  
  .single-form textarea:focus ~ .placeholder-text,
  .single-form textarea:not(:placeholder-shown) ~ .placeholder-text {
    bottom: calc(100% + 5px);
    font-size: 12px;
    transform: translateY(0);
  }

  
.contact-pg-submit-btn{
    width: 25%;
    margin-top: 20px;
    border: 1px solid transparent;
}

.contact-pg-submit-btn button{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
}

/* footer page */
.main-footer ul{
display: flex;
flex-direction: column;
}
.f-descript,.f-div-snd{
    border: 1px solid transparent;
    margin: 20px;
    padding: 10px;
    width: 25%;
}
.f-descript p{
    text-align: start;
}
.f-div-snd ul{
    text-align: center;
}

.f-div-snd h3{
    text-align: center;
}
.main-footer{
    margin-top: 3rem;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

/* style for mobile screen */

@media screen and (max-width: 768px){

.home-pg-nav ul{
    display: none;
}

.menubar{
    z-index: 10;
}
#responsiveness{
    position: absolute;
    top: 0%;
    right: 0%;
    border: 1px solid #33A7F4;
    box-shadow: 0px 0px 20px 2px #33A7F4;
    width: 100%;
    height: 50vh;
    opacity: 1000;
    background-color: var(--main-bg-color);
    animation: slide 0.7s ease-in-out 0s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@keyframes slide {
    0%{
        transform: translate(-5em);
    }

    100%{
        transform: translate(0,0);
    }
}   

.menubar{
    display: inline-block;
}

.fun-learning-first-child{
    width: 50%;
}

.fun-learning{
    padding: 5px;
}

.fun-learning-img{
    width: 50%;
    padding: 0;
}

.button-box{
    display: none;
}

.break{display: none;}

.fun-learning-first-child>h1{
    font-size: 1rem;
    margin-bottom: 10px;
}

.fun-learning-first-child>p{
    font-size: 1rem;
}
.sub-header{
    width: 100%;
    bottom: 0%;
}

.star-list li{
    font-weight: 900;
    font-size: 1rem;
  }

.star-list li::before{
    margin-right: 5px;
}

.sec-div-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.what-we-do{
    padding: 5px;
}
.what-we-do-img-wrapper,
.what-we-do-txt-wrapper,
.what-we-do-btn-wrapper{
    width: 100%;
}
.main-vector-container{
    max-width: 100%;
}
.vector-box{
    width: 30%;
    padding: 2px;
}
.main-vector-container{
    margin-top: 2rem;
}
.vector-box>h4{
    font-size: 3.5vmin;
}
/* styling testimonial page */
.hide-on-mobile{
    display: none;
}
.card-container{
width: 100%;
display: flex;
flex-direction: column;
place-items: center;
}
.card{
width: 75%;
}
/* styling contact page */
#contact-pg{
    max-width: 100%;
}

textarea{
    width: 100%;
    height: auto;
  }

}
